// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

html {
  font-size: 16px;
}

body,
#body {
  background: #191919;
}

h1 + h2 {
  margin: 0;
}