{% set showcase_image = page.media.images|first.grayscale().contrast(20).brightness(-125).colorize(-35,81,122) %}
{% if showcase_image %}
	<div class="jumbotron showcase flush-top" style="background-image: url({{ showcase_image.url }});">
{% else %}
<div class="jumbotron showcase">
{% endif %}

    {{ content }}

    {% for button in page.header.buttons %}
        <a class="btn{% if button.primary %} btn-primary{% endif %}" href="{{ button.url }}">{{ button.text }}</a>
    {% endfor %}

</div>
